<!DOCTYPE html>

<html lang="fr" xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>My website</title>


    {{ HtmlHelper.importCss("default") }}

    {{ HtmlHelper.importJs("jquery1.5.1.min") }}
    {{ HtmlHelper.importJs("slides.jquery") }}
    {{ HtmlHelper.importJs("jquery-ui") }}
    {{ HtmlHelper.importJs("default") }}

    <link rel="icon" type="image/jpg" href="/images/favicon.png"/>
<body style="background-color: white;">
<div style="width: 900px">
{{ _content_for_layout_|raw }}
</div>
</body>
</html>